.App {
  text-align: center;
}

.main-bg {
  height : 300px;
  background-size : cover;
  background-position : center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.path {
  text-decoration: none;
  color: rgb(170, 170, 170);
  margin-left: 1rem;
}
.start {
  opacity: 0;
}
.end {
  opacity: 1;
 
  transition : opacity 1s;
}










